main {
    min-height: 100vh;
}

.background-green {
    background-color: green;
}
.background-blue{
    background-color: blue;
}
.background-red {
    background-color: red;
}
.character-img {
    max-width: 100%;   
}
.character-img:hover {
    cursor: pointer;
    
}
